{% extends 'base.html' %}
{% load static %}
{% block contents %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>My Portfolio</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              src="{% static 'woman_1.jpg'%}"
              height="400"
              alt="woman_1사진"
            />
            <div class="card-body">
              <p class="card-text">
                이 사진은 스태틱 사진입니다.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        {%for portfolio in portfolios.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{portfolio.image.url}}" height="400" />
            <div class="card-body">
              <p class="card-text">
                {{portfolio.description}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        {%endfor%}
      </div>
    </div>
  </div>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      Album example is &copy; Bootstrap, but please download and customize it
      for yourself!
    </p>
    <p>
      New to Bootstrap?
      <a href="https://getbootstrap.com/">Visit the homepage</a> or read our
      <a href="/docs/4.5/getting-started/introduction/">getting started guide</a
      >.
    </p>
  </div>
</footer>
{% endblock contents %}
